header{
    height: 100vh;
    padding-top: 5rem;
    /* padding-bottom: 7rem; */
    overflow: hidden;
    

}

.header__container{

    text-align: center;
    height: 100%;
    position: relative;

  }


  /* -----------------------------CTA------------------------ */

  .cta{

    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
  }

  .header__socials{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.8rem;
      position:absolute;
      left: 0;
      top:20rem;
      bottom: 3rem;

  }

  .header__socials::after{
       content: "";
       width: 1px;
       height: 2rem;
       background-color: var(--color-primary);
  }


  /* --------------------------ME----------------------- */

.me{
    background: radial-gradient(var(--color-primary), transparent) ;
    width: 20rem;  
    height: 20rem;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4rem;
    border-radius: 0rem 10rem 0rem 10rem;
    overflow: hidden;
    padding: 2rem 0.5rem -2rem 0.5rem;
    display: flex;


}

/* ------------------------------ME END------------------------------- */

.scroll__down {
    position: absolute;
    right: -2.3rem;
    top:25rem;
    /* bottom: 3rem; */
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 1rem;
}

@media screen and (max-width:1024px) {

    .header{ 
        height:68vh;
        overflow: hidden;
    } 
    
            
    }
@media screen and (max-width:600px) {

        .header{ height:100vh;} 
        
        .header__socials, .scroll__down{
            display: none;
            
        }
                
        }
    